# Ignore virtual envs
.venv/

# Ignore tests dir and service sandbox
debug_tests/
sandbox

# Ignore all __pycache__ directories recursively
**/__pycache__/
*.py[cod]
*$py.class
.hpm/
dist/
build/
*.egg-info/
